{% extends "base.html" %}

{% block app_content %}

<h1>Sign In</h1>

<div class="d-flex flex-row bd-highlight mb-3">
  <form action="{{ url_for('auth.login') }}" method="post">
    {{ form.hidden_tag() }}
    <!-- Hidden Tag -->
    <div class="p-2 bd-highlight">
      {{ form.username.label }}
      {{ form.username(size=20) }}
      {% for error in form.username.errors %}
      <span style="color: red">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="p-2 bd-highlight">
      {{ form.password.label }} {{ form.password(size=20) }} {% for error in
      form.password.errors %}
      <span style="color: red">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="p-2 bd-highlight">
      {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    <div class="p-2 bd-highlight">{{ form.submit() }}</div>
  </form>
</div>
<p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
<p>
  Forgot Your Password ?
  <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
</p>

{% endblock app_content %}
