{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <!-- Hidden Tag -->
  <div>
    {{ form.username.label }}
	{{ form.username(size=20) }}
	{# error message #}
    {% for error in form.username.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.password.label }}
	{{ form.password(size=20) }}
	{% for error in
    form.password.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
	{{ form.remember_me() }}
	{{ form.remember_me.label }}
  </div>
  <div>
  	{{ form.submit() }}
  </div>
</form>

{% endblock content %}
