{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock navbar %}

{% block content %}

<div class="container-fluid">
<h1>Hello Flask!</h1>
    <form method="POST" action="{{ url_for('index') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.tweet.label(class_="form-label-lg") }}
        {{ form.tweet(class_="form-control form-control-lg") }}
        <div id="tweet_help" class="form-text">Share your tweet just with 140 characters.</div>
    </div>
        {{ form.submit(class_="btn btn-dark btn-lg") }}
    </form>
</div>

{% endblock content %}